APP_NAME=Fashion Recommender API
APP_VERSION=0.2.0
APP_ENV=development
LOG_LEVEL=INFO
ARTIFACTS_DIR=artifacts
DATA_DIR=data
RAW_IMAGES_DIR=data/raw/images
EXTERNAL_IMAGE_BASE_URL=https://qdrant-nextjs-demo-product-images.s3.us-east-1.amazonaws.com/images
SEMANTIC_MODEL_NAME=all-MiniLM-L6-v2
CORS_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
ENABLE_DOCS=true
